* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #eeeeee;
}
/* Common text stylings */
p {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 0.8rem;
}
strong {
  color: dimgrey;
  margin-right: 0.3rem;
}
label {
  display: block;
  font-weight: 500;
  padding-bottom: 0.5rem;
}
i {
  font-family: "Times New Roman", Times, serif;
}
/* Section title heading styles */
.title {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.title_header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: darkslategray;
}
.header_icon-div {
  position: relative;
}
.headerLine {
  width: 30vw;
  margin-bottom: 1rem;
  border: 0;
  height: 1px;
  background-color: slateblue;
}
.icon_header-line {
  position: absolute;
  left: 45%;
  top: -120%;

  color: slateblue;
  padding: 0.5rem;
  background-color: white;
}
/* common container title styling*/
.title_container {
  font-family: "Times New Roman", Times, serif;
  color: darkslategrey;
  font-weight: 500;
}
/* styling for header section */
#header {
  width: 100vw;
  background-color: white;
  margin-bottom: 2rem;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav {
  margin-top: 2rem;
  height: 6vh;
  width: 30vw;
  border-bottom: 2px solid white;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #cccccc;
  background-color: #eeeeee;
  color: #aaaaaa;
  border-bottom: none;
}
.tab-heading {
  font-size: 1rem;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.tab_traveler-info {
  border-right: none;
}
/*main container styling*/
.container {
  width: 50vw;
  padding: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
  margin-bottom: 2rem;
}

/* form-container related styling */
#form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.form-section {
  outline: none;
  border: none;
  margin: 2rem 0;
}
.asterik {
  color: brown;
  font-weight: bold;
  margin-right: 0.3rem;
}
.form-fieldSet {
  margin: 2.5rem 0;
  border: none;
}
.form-field_input {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid gray;
  width: 100%;
  font-size: 1.2rem;
}
/* Bio form input field set */
#form-fieldSet_name {
  display: grid;
  grid-template-columns: 1fr 1fr 0fr;
  grid-template-areas: "a b c";
  column-gap: 1rem;
  align-items: center;
}
#help-symbol_name {
  transform: translateY(40%);
}
#form-fieldSet_dob {
  display: grid;
  grid-template-areas: "a b c d";
  grid-column-gap: 1rem;
  align-items: flex-end;
}
#help-symbol_date {
  transform: translateY(-40%);
}
/* Doc input field */
#form-fieldSet_docNo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "a b";
  column-gap: 1rem;
}
/* Country input field */
#form-fieldSet_country {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "a b";
  column-gap: 1rem;
}
#help-symbol_doc {
  transform: translateY(50%);
}
#help-symbol_country {
  transform: translateY(50%);
}
/* Buttons in form */
#form-section_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.btn {
  padding: 15px 20px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.btn:hover {
  cursor: pointer;
  filter: brightness(90%);
}
.btn_submit {
  background-color: #0071bc;
  font-weight: bold;
  border: 3px solid #205493;
  color: white;
}
.btn_cancel {
  background-color: red;
  border: 3px solid rgba(197, 11, 11, 0.541);
  font-weight: bold;
  color: white;
}

/* I94 record container styling */
.header_i94 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.user-info {
  width: 100%;
  align-self: flex-start;
  padding: 1rem 0.5rem;
  background-color: #fcf4e2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-info p {
  margin-right: 0.5rem;
  color: rgb(136, 101, 14);
  font-weight: 200;
}
.user-icon {
  color: goldenrod;
  font-size: 2rem;
  margin-right: 1rem;
}
h3 {
  color: rgb(136, 101, 14);
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #01205b;
}
hr {
  margin-bottom: 2rem;
  height: 1px;
  border: 0;
  background-color: black;
}
.i94 > p {
  letter-spacing: 0.5px;
  font-size: 0.8rem;
  color: #01205b;
  font-weight: 600;
}
.user-data {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
}
.i94-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_prev {
  background-color: lightgray;
  border: 3px solid rgba(163, 163, 163, 0.534);
}
.btn_i94 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}
.btn_print {
  background: #0071bc;
  border: 3px solid #205493;
}
.btn_print:hover {
  background: #205493;
  border-color: #0071bc;
}

/* Icons  */
hr {
  position: relative;
}
.line-icon {
  position: absolute;
  left: 48%;
  color: goldenrod;
  padding: 1rem;
  transform: translateY(-110%);
  background-color: white;
}
.help-symbol {
  color: lightslategrey;
}
.help-symbol:hover {
  cursor: pointer;
  color: black;
}
.icon_print {
  padding-right: 0.5rem;
  color: white;
}

/* Helper classes */
.inactive {
  display: none;
}
.invalid_input {
  border: none;
  box-shadow: 0 0 1px 1.5px rgb(255, 77, 77);
}
.tab-active {
  background-color: white;
  border: 3px solid rgb(3, 3, 85);
  border-bottom: none;
  font-weight: 800;
  color: darkblue;
}
.tab-active > .tab-heading {
  font-weight: bold;
}
